#answer, #css-desgin, #csharp-net, #java-android{
  display: none;
}
.container{
  text-align: center;
}
h1 {
  text-align: center;
}
.well {
color: black;
background-color: #4497d4
}

p {
  font-size: 15px;
}

body {
  font-family: sans-serif;
  background-color:#bfe8fb;
  color: #3700c1;
}


.border {
  margin: 10;
  border: 2px solid white;
  border-width: thick;
  padding: 10px;
}
